{{ include('header.twig') }}
{% flush %}
   <div class="midbody">
    <span style="font-size: 24px; font-weight: bold;">Site Error</span><br>
    <span style="font-size: 16px; font-weight: bold;">An unrecoverable error occurred and engineers notified, please try again shortly.</span><br>
   </div>
{{ include('footer.twig') }}
